@font-face {
  font-family: "Sans serif";
  src: local("../fonts/Chalkduster.ttf");
}

/* Reset */
body,
html {
  margin: 0px;
  padding: 0px;
  /* font-family: "Assistant", sans-serif; */
  font-family: "Chalkduster";
  background-color: #f9f5dc;
  color: #5a5552;
}

* {
  box-sizing: border-box;
}
/* unvisited link */
a:link {
  color: black;
}
/* visited link */
a:visited {
  color: black;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
/* selected link */
a:active {
  color: hotpink;
}

/*INDEX PAGE START*/
/* #indexcontent {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
} */

.indexname {
  text-align: center;
  font-size: 5em;
  padding: 70px 0;
  margin-top: 42px;
  background-color: #f8c6ad;
  border-bottom: solid 5px white;
  color: #5a5552;
}
.indexlogo {
  max-height: 55px;
  transform: rotate(-20deg);
}

.categories {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.category img {
  max-height: 200px;
  /* display: flex; */
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.8s ease-in-out;
  filter: drop-shadow(0.3rem 0.5rem 0.3rem #5a5552);
}

.category img:hover {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.categoryname {
  text-align: center;
}
/*INDEX PAGE END*/
