@font-face {
  font-family: "ColoredCrayons";
  src: url("fonts/ColoredCrayons.ttf");
}

/* Reset */
body,
html {
  margin: 0px;
  padding: 0px;
  /* font-family: "Assistant", sans-serif; */
  font-family: "ColoredCrayons";
  background-color: white;
  color: #5a5552;
}

* {
  box-sizing: border-box;
}
/* unvisited link */
a:link {
  color: black;
}
/* visited link */
a:visited {
  color: black;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
/* selected link */
a:active {
  color: hotpink;
}

/*INDEX PAGE START*/

.indexname {
  text-align: center;
  font-size: 5em;
  padding: 120px 0;
  color: #3a3a3a;
  background-image: url("../images/bowl.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 2% 72%;
  background-size: 128%;
  text-shadow: 2px 2px #fbfdf9;
}

.indexcontent {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  /* grid-auto-columns: 1fr; */
  /* grid-template-rows: 6fr; */
  /* grid-template-columns: repeat(5 20%);
  grid-auto-rows: 1fr; */
}
.sectionname {
  /* grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6; */
  background-color: white;
  font-size: 2em;
  z-index: 1000;
  padding: 50px;
  text-align: center;
}
.section {
  /* grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7; */
  /* outline: solid 5px red; */
}

.sectioncontent {
  display: flex;
  /* max-width: 100px; */
  /* background-color: blue;
  border: solid 5px blue; */
}

/* SHOP *****************************************/
.shopbackground {
  background-image: url("../images/bowl2.jpg");
  padding: 120px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 72%;
  background-size: 128%;
  /* width: 100%; */
}
.shopitemcontainer {
}
.shopcontent {
  /* display: flex;
  align-items: baseline;
  justify-content: space-between; */
  /* display: grid; */
  background-color: white;
}
.shopitem {
  display: flex; /* establish flex container */

  flex-wrap: wrap;
  position: relative;
}
.shopitem img {
  max-height: 200px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.8s ease-in-out;
  filter: drop-shadow(0.3rem 0.5rem 0.3rem #5a5552);
}
.shopitem img:hover {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.shopitemname {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255, 0.6);
  width: 75%;
  border-radius: 3%;
}

/* GALLERY ***************************************/
.gallery {
  background-image: url("../images/bowl.jpg");
  padding: 120px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 2% 72%;
  background-size: 128%;
}
.galleryitem1 img {
  max-width: 400px;
}
.galleryitem2 img {
  max-width: 200px;
}

/* EVENTS ****************************************/
.eventsbackground {
  background-image: url("../images/vessle1f.jpg");
  padding: 120px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 2% 72%;
  background-size: 128%;
}
.eventssection {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.eventbox {
  background-color: white;
  max-width: 200px;
  padding: 15px;
  font-family: "Assistant", sans-serif;
  border-radius: 1%;
  filter: drop-shadow(0.3rem 0.5rem 0.3rem #5a5552);
}
.eventbox a {
  text-decoration: none;
  color: #5a5552;
}
.eventbox a:hover {
  font-style: italic;
}
.eventtitle {
  border-bottom: solid 1px black;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}
.eventdescription {
  border-bottom: solid 1px black;
}
.eventlocation {
  border-bottom: solid 1px black;
}
.eventdates {
}

/* ABOUT ******************************************/
.aboutbackground {
  background-image: url("../images/figure.jpg");
  padding: 120px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 74% 70%;
  background-size: 128%;
}
.aboutsection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutgridcontainer {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-column-gap: 10px;
  /* max-width: 1500px; */
  /* background-color: red; */
  /* grid-template-rows: 1fr; */
}
.aboutimage {
  /* max-width: 500px; */
  /* grid-column-start: 1;
  grid-column-end: 2; */
  /* grid-row-start: 1;
  grid-row-end: 5; */
}
.aboutimage img {
  height: 100%;
  border-radius: 1%;
  filter: drop-shadow(0.3rem 0.5rem 0.3rem #5a5552);
}
.aboutlinks {
  /* grid-column-start: 2;
  grid-column-end: 3; */
  /* grid-row-start: 1;
  grid-row-end: 5; */
  line-height: 50px;
  padding-left: 10px;
  background-color: white;
  border-radius: 1%;
  filter: drop-shadow(0.3rem 0.5rem 0.3rem #5a5552);
}

/*INDEX PAGE END*/
