@font-face {
  font-family: "Sans serif";
  src: local("../fonts/Chalkduster.ttf");
}

/* Reset */
body,
html {
  margin: 0px;
  padding: 0px;
  /* font-family: "Assistant", sans-serif; */
  font-family: "Chalkduster";
  /* background-color: #f9f5dc; */
  background-color: white;
  color: #5a5552;
}

* {
  box-sizing: border-box;
}
/* unvisited link */
a:link {
  color: black;
}
/* visited link */
a:visited {
  color: black;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
/* selected link */
a:active {
  color: hotpink;
}

/*INDEX PAGE START*/
#indexcontent {
  /* padding: 10px; */
  /* display: grid;
  grid-template-columns: 1fr;
  justify-items: center; */
  /* grid-gap: 10px; */
}

.indexname {
  text-align: center;
  font-size: 5em;
  padding: 120px 0;
  color: #fbfdf9;
  background-image: url("../images/bowl.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 2% 72%;
  background-size: 128%;
  text-shadow: 2px 2px #5a5552;
}
.indexlogo {
  max-height: 55px;
  transform: rotate(-20deg);
}
.indexcontainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 95%;
}

.indexcategory {
  background-color: #a3c7b9;
  width: 100%;
  margin-top: 15px;
  border-radius: 45%;
  height: 45px;
  text-align: center;
}
.indexcategory div {
  color: red;
}
.section {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  background-color: white;
}

.category img {
  max-height: 200px;
  /* display: flex; */
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.8s ease-in-out;
  filter: drop-shadow(0.3rem 0.5rem 0.3rem #5a5552);
}

.category img:hover {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.categoryname {
  text-align: center;
}
/*INDEX PAGE END*/

.indexcontent {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  /* grid-auto-columns: 1fr; */
  /* grid-template-rows: 6fr; */
  /* grid-template-columns: repeat(5 20%);
  grid-auto-rows: 1fr; */
}
.sectionname {
  /* grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6; */
  background-color: white;
  font-size: 2em;
  z-index: 1000;
  padding: 50px;
  text-align: center;
}
.section1 {
  /* grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7; */
  /* outline: solid 5px red; */
}

.sectioncontent {
  display: flex;
  /* max-width: 100px; */
  /* background-color: blue;
  border: solid 5px blue; */
}
.shop {
  background-image: url("../images/bowl2.jpg");
  padding: 120px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 72%;
  background-size: 128%;
  /* width: 100%; */
}
.shopitem img {
  max-height: 200px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.8s ease-in-out;
  filter: drop-shadow(0.3rem 0.5rem 0.3rem #5a5552);
}

.shopitem img:hover {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.itemname {
}

.gallery {
  background-image: url("../images/bowl.jpg");
  padding: 120px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 2% 72%;
  background-size: 128%;
}
.galleryitem1 img {
  max-width: 400px;
}
.galleryitem2 img {
  max-width: 200px;
}

.events {
  background-image: url("../images/vessle1f.jpg");
  padding: 120px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 2% 72%;
  background-size: 128%;
}
.eventitem img {
  max-width: 200px;
}
