@media only screen and (min-width: 600px) {
  .detailnamesmall {
    display: none;
  }
  .hamburger {
    display: none;
  }
}

/*FOOTER START**********************/
.footer {
  padding: 15px 25px 30px 25px;
}
.footertopic {
  display: none;
  border-bottom: none;
}
.social {
  border-left: solid 0.5px black;
  padding-left: 10px;
}
/*FOOTER END*********/
