@media only screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .indexname {
    max-width: 200px;
    padding: 68px 4%;
  }
}

@media only screen and (max-width: 600px) {
  .indexnamebackground {
    background-position: 31% 100%;
    background-size: 158%;
  }
}
@media only screen and (max-width: 450px) {
  .indexnamebackground {
    background-position: 31% 0%;
    background-size: 130%;
  }
}

@media only screen and (max-width: 1130px) {
  .eventhide {
    display: none;
  }
  .eventssection {
    display: inherit;
  }
  .eventbox {
    margin: 25px auto;
  }
}

/*FOOTER START**********************/
.footer {
  padding: 15px 25px 30px 25px;
}
.footertopic {
  display: none;
  border-bottom: none;
}
.social {
  border-left: solid 0.5px black;
  padding-left: 10px;
}
/*FOOTER END*********/
